<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/css/home.css">
    <style>
         .column{
            /* width: 100%; */
            /* height: 100vh; */
            text-align: center;
        }

         input{
            width: 22%;
            height: 50px;
        }
    </style>
</head>
<body>
   


<div class="column">
             <picture id="top-logo">
                <img   src="/photos/twitter_Logo.png" alt="no image found">
            </picture>
            <!-- twitter content -->
             <h1><strong style="font-size: 80px;">Sign in to X</strong></h1>


             <div >
                <button class="btn" ><img style="height: 20px; width: 20px;" src="https://img.icons8.com/?size=100&id=17949&format=png&color=000000" alt=""> <strong><sup> <span style="font-size: 15px;">sign up with google</span></sup></strong></button>
             </div>

               <div >
                <button class="btn" ><img style="height: 20px; width: 20px;" src="https://img.icons8.com/?size=100&id=95294&format=png&color=000000" alt=""> <strong><sup> <span style="font-size: 15px;">sign up with Apple</span></sup></strong></button>
             </div>
             <div>-------------------------------OR-----------------------------</div>
             <div >
                <input type="text" id="identifier" name="identifier" placeholder="phone ,email address or username">
             </div>

              <div  >
                <button id="submit" style="background-color: black;" class="btn" ><strong style="font-size: 15px; color:white;">Next</strong></button>
             </div>

             <div>
                <button  class="btn" ><strong style="font-size: 15px;">Forgot password</strong></button>
             </div>


             <div>
                <p>Don’t have an account? <a href="/">Sign up</a></p>
             </div>
        </div>


        <script>
         const btn=document.getElementById('submit');
         btn.addEventListener('click',(e)=>{
            console.log("-----------");
            
            const identifier=document.getElementById('identifier').value.trim();
            sessionStorage.setItem("loginUser",JSON.stringify({identifier:identifier}));
            window.location.href='/login/password'
         })
        </script>
</body>
</html>