<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/css/home.css">
    <style>
         .column{
            /* width: 100%; */
            /* height: 100vh; */
            text-align: center;
        }

         input{
            margin-bottom: 10px;
            width: 22%;
            height: 50px;
        }
        p{
         color: red;
        }
    </style>
</head>
<body>
   


<div class="column">
             <picture id="top-logo" style="display: block;">
                <img   src="/photos/twitter_Logo.png" alt="no image found">
            </picture>
            <!-- twitter content -->
             <h1><strong style="font-size: 80px;">Sign in to X</strong></h1>
            <p id="msg"></p>

            <form id="myform">
             <div >
                <input readonly type="text" id="identifier" name="identifier" placeholder="phone ,email address or username">
             </div>

             <div id="password">
                <input type="text" name="userPassword" placeholder="password">
             </div>

              <div >
                <button  style="background-color: black;" class="btn" ><strong style="font-size: 15px; color:white;">Next</strong></button>
             </div>
             </form>
             <div>
                <button  class="btn" ><strong style="font-size: 15px;">Forgot password</strong></button>
             </div>


             <div>
                <p>Don’t have an account? <a href="/">Sign up</a></p>
             </div>
        </div>


        <script>
            const sessionData= (sessionStorage.getItem('loginUser'));
            const user=(JSON.parse(sessionData));
            console.log(user);
            

            document.getElementById('identifier').value=user.identifier



            const form=document.getElementById('myform');
            form.addEventListener('submit',async(e)=>{
               e.preventDefault();
               const formData=new URLSearchParams(new FormData(form));
               console.log(formData);

               const res=await fetch("http://localhost:8080/auth/login",{
                  method:'post',
                  body:formData
               })
               const data= await res.json()
               if(!res.ok){
                  document.getElementById('msg').innerHTML=data;
               }else{
                  sessionStorage.removeItem('loginUser')
                  window.location.href='/user/dashboard'
               }
               
            })
            
        </script>

</body>
</html>